/*
* Created by zuodexin on 2016/5/22.
*/
/* Hide for mobile, show later */
.sidebar {
    display: none;
}
/*@media (min-width: 768px) {*/
    /*.sidebar {*/
        /*position: fixed;*/
        /*top: 51px;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*z-index: 1000;*/
        /*display: block;*/
        /*padding: 20px;*/
        /*padding-right: 0px;*/
        /*overflow-x: hidden;*/
        /*overflow-y: auto; /!* Scrollable contents if viewport is shorter than content. *!/*/
        /*background-color: #f5f5f5;*/
        /*border-right: 1px solid #eee;*/
    /*}*/
/*}*/
@media (min-width: 768px) {
    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        display: block;
        padding: 20px;
        padding-right: 0px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
.first-menu{

}
.second-menu{
    padding-left: 20px;
}
.second-menu>li:hover{
    border-right: solid 2px;
    border-right-color: #1897C9;
}