<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cover Template for Bootstrap</title>

</head>

<body>

<!--导航条-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-car" aria-hidden="true"></i>&nbsp; Parking Lot</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar">
            <ul class="nav navbar-nav head-nav">
                <li>
                    <a href="{{url_for('blue_customer.customer_index')}}"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Customer</a>
                </li>
                <li >
                    <a href="{{url_for('blue_manager.manager_page')}}"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Manager</a>
                </li>
                <li class="active">
                    <a href="{{url_for('lot')}}"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;Simulation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">Your Parking number is {{ date.PID }}</h1>
                <p class="lead">{{ date.Name }} your license plate number is {{ date.PlateNumber }},cut-off interval:</p>
                <h1 class="cover-heading">{{ date.StartTime }}-- {{ date.EndTime }}</h1>
                <p class="lead">
                    <a href="{{url_for('blue_customer.finishpayreserve')}}" class="btn btn-lg btn-default">Home</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Phone: (800) 111-2222, Email: nk@163.com</p>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>