<!DOCTYPE html>
<!-- Created by Zuo Dexin -->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reserve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-slider-pips.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.1/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reserve.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reserve.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-slider-pips.js') }}"></script>
</head>
<body>

<!--导航条-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Parking Lot</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar">
            <ul class="nav navbar-nav head-nav">
                <li>
                    <a href="{{url_for('blue_customer.customer_index')}}">Home</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('blue_customer.reserve') }}">Reserve</a>
                </li>
                <li>
                    <a href="{{ url_for('lot') }}">GetLot</a>
                </li>
                <li>
                    <a href="#">Others</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="hidden-xs container">
    <!--日期选择器-->
    {% if not result %}
        <form id="reserve-form" action="/reserver" method="post">
    {% else %}
        <form id="reserve-form" action="/change/{{ result.ID }}" method="post">
    {% endif %}
    <div class="form-item form-group">
        <label for="picker" class="form-label">Reserve date</label>
        {% if not result %}
            <input type="text" name="picker" id="picker" readonly="true" class="form-control">
        {% else %}
            <input type="text" name="picker" id="picker" readonly="true" class="form-control"
                   value="{{ result.ProduceTime }}">
        {% endif %}
    </div>
    <div class="form-item form-group">
        <label for="slider" class="form-label">Time interval</label>
        <input type="text" name="slider_value" id="slider_value" readonly="true"
               style="border:0; color:#f6931f; background:white; font-weight:bold;">
        {% if not result %}
            <input type="hidden" id="time-from" readonly="true">
            <input type="hidden" id="time-to" readonly="true">
        {% else %}
            <input type="hidden" id="time-from" readonly="true" value="{{ result.StartTime }}">
            <input type="hidden" id="time-to" readonly="true" value="{{ result.EndTime }}">
        {% endif %}
        <div id="slider" class="slider"></div>
    </div>
    <div class="form-item form-group">
        <label for="plate" class="form-label">Plate number</label>
        <input type="text" name="plate" id="plate" class="form-control">
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {# 添加消息闪现 #}
        {% if messages %}
            {% for category,message in messages %}
                {# category 为消息闪现类型 #}
                <div id="myAlert" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>{{ category }}：</strong>{{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% if not result %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">reserve</button>
    {% else %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">change</button>
    {% endif %}
    </form>
</div>


<div class="visible-xs container" style="background-color: snow;">
    {% if not result %}
        <form id="reserve-form-mobile" action="/reserver" method="post"  style="padding: 0.5em;">
    {% else %}
        <form id="reserve-form-mobile" action="/change/{{ result.ID }}" method="post"  style="padding: 0.5em;">
    {% endif %}
            <div id="legend" class="">
                <legend class="">Your Reservation</legend>
            </div>
            <div class="form-group">
                <!-- Text input-->
                <label class="control-label" for="picker-mobile">Parking Date</label>
                {% if not result %}
                <input  name="picker" type="text" placeholder="" readonly="true"  id="picker-mobile" class="form-control">
                 {% else %}
                   <input  name="picker" type="text" placeholder="" readonly="true"  id="picker-mobile" class="form-control"
                   value="{{ result.ProduceTime }}">
                {% endif %}
                <p class="help-block">Your Parking Date</p>
            </div>
            <div class="form-group">
                <!-- Text input-->
                <label class="control-label" for="start-time" style="display: block">Start Time</label>
                 {% if not result %}
                <input  type="text" id="start-time" readonly="true" style="display:inline;border:0; background-color:snow;color:#f6931f; font-weight:bold; font-size: 2em">
                {% else %}
                <input  type="text" id="start-time" readonly="true" value="12:30" style="display:inline;border:0; background-color:snow;color:#f6931f; font-weight:bold; font-size: 2em" value="11:10">
                {% endif %}
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#timeModal" data-whatever="Start" >Change</button>
                <p class="help-block">When will you start parking</p>
            </div>
            <div class="form-group">
                <!-- Text input-->
                <label class="control-label" for="end-time" style="display: block">End Time</label>
                {% if not result %}
                <input  type="text" id="end-time" readonly="true" style="display:inline;border:0; background-color:snow;color:#f6931f; font-weight:bold; font-size: 2em">
                {% else %}
                <input  type="text" id="end-time" readonly="true" value="1:30" style="display:inline;border:0; background-color:snow;color:#f6931f; font-weight:bold; font-size: 2em" value="16:20">
                {% endif %}
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#timeModal" data-whatever="End" >Change</button>
                <p class="help-block">When will you leave</p>
            </div>
            <div class="form-group">
                <label for="plate" class="control-label" >Plate number</label>
                <input type="text" name="plate" class="form-control">
            </div>
            <input type="hidden" name="slider_value" id="slider-value-mobile">

             {% with messages = get_flashed_messages(with_categories=true) %} {# 添加消息闪现 #}
                {% if messages %}
                    {% for category,message in messages %}
                        {# category 为消息闪现类型 #}
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ category }}：</strong>{{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if not result %}
            <a  role="button" href="javascript:void(0)" class="btn btn-lg btn-primary btn-block" id="submit-btn-mobile">reserve</a>
             {% else %}
            <a  role="button" href="javascript:void(0)" class="btn btn-lg btn-primary btn-block" id="submit-btn-mobile">change</a>
            {% endif %}
    </form>
</div>

<!--模态框-->
<div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="time-hour" class="control-label">Hour:</label>
                        <div id="time-hour" class="mobile-slider"></div>
                    </div>
                    <div class="form-group">
                        <label for="time-minute" class="control-label">Minute:</label>
                        <div id="time-minute" class="mobile-slider"></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn-done" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
