<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.1/css/font-awesome.min.css') }}">
</head>
<body>

<!--导航条-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-car" aria-hidden="true"></i>&nbsp; Parking Lot</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar">
            <ul class="nav navbar-nav head-nav">
                <li>
                    <a href="{{url_for('index')}}"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Customer</a>
                </li>
                <li class="active">
                    <a href="{{url_for('manager_page')}}"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Manager</a>
                </li>
                <li>
                    <a href="{{url_for('lot')}}"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;Simulation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form role="tabpanel" class="form-signin tab-pane fade in active" id="login"
             action="/manager_login" method="post">
        <h2 class="form-signin-heading">Manager Login</h2>
         <div class="input-group">
            <label for="inputPhoneNumber" class="sr-only">phone number</label>
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            <input type="text" size="16" name="inputPhoneNumber" id="inputPhoneNumber" class="form-control"
                   placeholder="PhoneNumber" required autofocus>
         </div>
        <div class="input-group">
            <label for="inputPassword" class="sr-only">Password</label>
                <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control"
                   placeholder="Password" required>
        </div>
        <div class="checkbox">
            <label>
                    <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

</body>
</html>