<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <title>PAD</title>
    <link href="{{ url_for('static', filename='css/pad1.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $(".input-content").addClass("closed");
            $(".glyphicon-menu-right").first().addClass("glyphicon-menu-down").removeClass("glyphicon-menu-right");
            $(".input-content").first().removeClass("closed");
            $(".closed").slideUp()
            $(".hint").on("click",function(event,ui){
                $(".input-content").addClass("closed");
                $(".glyphicon-menu-down").addClass("glyphicon-menu-right").removeClass("glyphicon-menu-down");
                $(this).next().removeClass("closed");
                $(".closed").slideUp();
                $(this).children().first().addClass("glyphicon-menu-down").removeClass("glyphicon-menu-right");
                $(this).next().slideDown();
            });
        });
    </script>

</head>

<body>
<div class="container" >
    <div id="hea">
    <form class="form-signin" action="/getlotname" method="post">
        <div id="accordion" >
            <div class="hint">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span style="cursor:pointer">Please input order number</span>
            </div>
            <div class="input-content">
                <label for="inputNumber" class="sr-only"> Order number</label>
                <input type="text" id="inputNumber" name="inputNumber" class="form-control" placeholder="Number" autofocus>
            </div>
            <div class="hint">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span style="cursor:pointer">or license plate number</span>
            </div>
            <div class="input-content">
                <label for="inputLicenseNumber" class="sr-only">License plate number</label>
                <input type="text" id="inputLicenseNumber" name="inputLicenseNumber" class="form-control" placeholder="License number" >
            </div>
        </div>

        <button class="btn btn-default btn-lg btn-block" type="submit" style="margin-top: 50px">Submit</button>

    </form>
    </div>

    <div id="bot">
        <div class="mastfoot">
            <div class="inner">
                <p>Phone: (800) 111-2222, Email: nk@163.com</p>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>